body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #030303;
  color: white;
}

nav h2 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

main {
  text-align: center;
  padding: 100px 20px;
}

main h1 {
  font-size: 45px;
  margin-bottom: 15px;
}

main p {
  font-size: 20px;
}